:root {
  --primary-color: #37268c;
  --secondary-color: #2e245e;
  --third-color: #382c75;
  --grey1: #f5f5f5;
  --grey2: grey;
  --grey3: #292929;
  --white-fixed: #fff;
  --green: rgb(64, 139, 64);
}
